body {
  font-family: 'Open Sans', Helvetica, sans-serif;
  background: #001821;
  color: #fff;
  font-size: 16px;
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}

a {
  color: inherit;
}

ul {
  padding: 0;
  margin: 0;
}

ul li {
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: normal;
}

p {
  margin-top: 0;
}

* {
  box-sizing: border-box;
}

.main-page-wrapper {
  background: url("./img/elephant.png") center top no-repeat, url("./img/mountainBg.png") right -240px bottom 157px no-repeat;
}

.headline {
  margin-bottom: 245px;
}

.container {
  margin: 0 auto;
  width: 1140px;
}

.header {
  height: 124px;
  left: 0;
  top: 27px;
  position: relative;
  margin-bottom: 71px;
}

.logo {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 85px;
  height: 36px;
}

.logo__pic {
  max-width: 100%;
}


.menu {
  top: 9px;
  left: 165px;
  position: absolute;
}

.contacts {
  top: 0;
  right: 0;
  position: absolute;
}

.contacts__text {
  color: #9A9A9A;
  font-size: 11px;
}

.menu__item {
  display: inline-block;
  vertical-align: middle;
  margin-right: 50px;
}

.menu__item:last-child {
  margin-right: 0;
}

.menu__link {
  font-size: 14px;
  text-decoration: none;
}

.menu__link:hover {
  color: #DA0100;
}
.contacts {
  font-style: normal;
  text-align: right;
  top: -2px;
  position: absolute;

}
.contacts__phone {
  text-decoration: none;
  font-size: 26px;
  margin-bottom: 4px;
}

.contacts__dropdown-title {
  font-size: 13px;
  text-decoration: underline;
  position: absolute;
  text-align: right;
  right: 2px;
  top: 30px;
}

.headline__text {
  width: 520px;
}

.headline__title {
  font-size: 72px;
  font-weight: bold;
  line-height: 99px;
  margin-bottom: 25px;
}

.headline__subtitle {
  font-size: 18px;
  margin-bottom: 31px;
}

.btn {
  background: #F5170E;
  border-radius: 35px;
  text-decoration: none;
  padding: 18px 39px;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  display: inline-block;
  text-align: center;
}

.btn:hover {
  background: #DA0100;
}

.tours {
  margin-bottom: 124px;
}

.tours__title-wrap {
  position: relative;
  display: inline-block;
  margin-bottom: 50px;
}

.title {
  font-size: 36px;
  font-weight: bold;
  display: inline-block;
}

.tours__icon {
  margin-left: 12px;
  display: inline-block;
  background-color: #001821;
}

.tours__item {
  min-height: 450px;
  background: #fff;
  border-radius: 5px;
  display: inline-block;
  width: 362px;
  margin-right: 22px;
  color: #000;
}

.tours__item:last-child {
  margin-right: 0;
}

.tour__image {
  min-height: 144px;
}

.tours__content-wrap {
  padding: 29px 22px 18px 22px;
}

.tours__content {
  margin-bottom: 21px;
}

.tours__title {
  font-size: 24px;
  font-weight: bold;
}

.service {
  margin-left: 8px;
  margin-bottom: 19px;
}

.service__item {
  width: 130px;
  display: inline-block;
  margin-right: 16px;
}

.service__desc {
  padding-left: 5px;
  font-size: 16px;
  color: #666;
  display: inline-block;
  vertical-align: top;
}

.tours__desc {
  color: #303030;
  font-size: 14px;
  line-height: 21px;
  margin-bottom: 24px;
}

.tours__btn {
  padding: 16px 30px;
  color: #F5170E;
  border: 2px solid;
  background: #fff;
}

.tours__btn:hover {
  background: #F5170E;
  color: #fff;
}

.news {
  margin-bottom: 145px;
}

.news__title-wrap {
  margin-bottom: 51px;
}

.news__list {
  margin-bottom: 54px;
}

.news__item {
  width: 557px;
  display: inline-block;
  vertical-align: top;
  position: relative;
  border-radius: 5px;
  overflow: hidden;
  margin-right: 21px;
}

.news__item:last-child {
  margin-right: 0;
}

.news__image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.news__text-content {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0 0 0 30px;
  min-height: 140px;
}

.news__date {
  font-size: 14px;
  margin-bottom: 13px;
}

.news__title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 4px;
}

.paginator {
  text-align: center;
}

.paginator__display,.paginator__list {
  display: inline-block;
  vertical-align: middle;
}

.paginator__display {
  margin-right: 26px;
}

.paginator__item {
  display: inline-block;
  vertical-align: middle;
}

.paginator__item--active .paginator__link {
  background: #fff;
  color: #F5170E;
}

.paginator__link {
  display: block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  text-decoration: none;
  font-weight: bold;
  line-height: 32px;
}

.paginator__link:hover {
  background: #fff;
  color: #F5170E;
}

.about-us {
  margin-bottom: 53px;
}


.about:before, .about__desc {
  display: inline-block;
  vertical-align: top;
}

.about:before {
  content: "";
  display: inline-block;
  vertical-align: top;
  width: 490px;
  height: 505px;
  background: url("./img/gates.png") center center / cover no-repeat;
  border-radius: 5px;
}

.about__desc {
  background: url("./img/mountains.png");
  padding: 68px 82px;
  color: #000;
  display: inline-block;
  vertical-align: top;
  width: 785px;
  margin-left: -140px;
  margin-top: 96px;
  border-radius: 5px;
  height: 455px;
}

.about__title {
  font-weight: bold;
  font-size: 38px;
  margin-bottom: 35px;
}

.about__desc-text {
  line-height: 26px;
  margin-bottom: 72px;
  max-height: 110px;
  max-width: 510px;
  overflow: hidden;
}

.about__desc-text p {
  margin-bottom: 20px;
}

.about__desc-text p:last-child {
  margin-bottom: 0;
}

.about__btn {
  color: #fff;
}

hr {
  opacity: 0.1;
}

.footer-container__content {
  border-top: 1px solid rgba(255, 255, 255, 0.104);
  padding-top: 47px;
}

.footer {
  height: 94px;
  position: relative;
}

.socials {
  position: absolute;
  top: 4px;
  left: 702px;
}

.socials__item {
  display: inline-block;
  vertical-align: middle;
  margin-right: 6px;
}

.socials__item:last-child {
  margin-right: 0;
}

.socials__link {
  display: block;
  text-decoration: none;
  width: 36px;
  height: 36px;
  background: center center no-repeat;
}

.socials__item--icon--telegram .socials__link {
  background-image: url("./icons/twitter.png");
}

.socials__item--icon--telegram .socials__link:hover {
  background-image: url("./icons/twiiter-hover.png");
}

.socials__item--icon--vk .socials__link {
  background-image: url("./icons/vk.png");
}

.socials__item--icon--vk .socials__link:hover {
  background-image: url("./icons/vk-hover.png");
}

.socials__item--icon--fb .socials__link {
  background-image: url("./icons/fb.png");
}

.socials__item--icon--fb .socials__link:hover {
  background-image: url("./icons/fb-hover.png");
}

.socials__item--icon--instagram .socials__link {
  background-image: url("./icons/in.png");
}

.socials__item--icon--instagram .socials__link:hover {
  background-image: url("./icons/in-hover.png");
}

