
.about-us {
  margin-bottom: 53px;
}

.about {
  display: flex;
}

.about:before {
  content: "";
  width: 490px;
  height: 505px;
  background: url("../../img/images/gates.png") center center / cover no-repeat;
  border-radius: 5px;
  display: block;
}

.about__desc {
  background: url("../../img/images/mountains.png") center center / cover no-repeat;
  padding: 70px 90px;
  color: #000;
  display: inline-block;
  vertical-align: top;
  max-width: 785px;
  min-height: 455px;
  margin-left: -140px;
  margin-top: 96px;
  border-radius: 5px;
}

.about__title {
  font-weight: bold;
  font-size: 36px;
  margin-bottom: 40px;
}

.about__desc-text {
  margin-bottom: 42px;
}

.about__desc-text p {
  margin-bottom: 20px;
}

.about__desc-text p:last-child {
  margin-bottom: 0;
}

.about__btn {
  color: #fff;
}
