.separator {
  min-height: 360px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url('../../img/bg/Rectangle.png') center center / cover no-repeat;
}

.separator__content {
  display: flex;
  align-items: center;
  color: #fff;
}

.separator__title {
  overflow: hidden;
  font-size: 48px;
  font-weight: bold;
  max-width: 53%;
  margin-right: 25px;
}

.separator__image {
  margin-top: 21px;
}

.separator__img {
  max-width: 100%;
}