.socials {
  margin-right: 74px;
}

.socials__item {
  display: inline-block;
  vertical-align: middle;
  margin-right: 6px;
}

.socials__item:last-child {
  margin-right: 0;
}

.socials__link {
  display: block;
  text-decoration: none;
  width: 37px;
  height: 37px;
  background: center center no-repeat;
}

.socials__item--icon--telegram .socials__link:hover::before {
  opacity: 1;
}

.socials__item--icon--telegram .socials__link:hover::after {
  opacity: 0;
}

.socials__item--icon--telegram .socials__link::after {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  background: url('../../img/icons/sprite.png') -120px -64px;
  transition: opacity .4s ease-in;
}

.socials__item--icon--telegram .socials__link::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  background: url('../../img/icons/sprite.png') -120px -8px;
}

.socials__item--icon--vk .socials__link:hover::before {
  opacity: 1;
}

.socials__item--icon--vk .socials__link:hover::after {
  opacity: 0;
}

.socials__item--icon--vk .socials__link::after {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  background: url('../../img/icons/sprite.png') -9px -120px;
  transition: opacity .4s ease-in;
}

.socials__item--icon--vk .socials__link::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  background: url('../../img/icons/sprite.png') -65px -120px
}

.socials__item--icon--fb .socials__link:hover::before {
  opacity: 1;
}

.socials__item--icon--fb .socials__link:hover::after {
  opacity: 0;
}

.socials__item--icon--fb .socials__link::after {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  background: url('../../img/icons/sprite.png') -9px -8px;
  transition: opacity .4s ease-in;
}

.socials__item--icon--fb .socials__link::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  background: url('../../img/icons/sprite.png') -65px -8px;
}

.socials__item--icon--instagram .socials__link:hover::before {
  opacity: 1;
}

.socials__item--icon--instagram .socials__link:hover::after {
  opacity: 0;
}

.socials__item--icon--instagram .socials__link::after {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  background: url('../../img/icons/sprite.png') -9px -64px;
  transition: opacity .4s ease-in;
}

.socials__item--icon--instagram .socials__link::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  background: url('../../img/icons/sprite.png') -65px -64px;
}
