.socials {
  margin-right: 74px;
}

.socials__item {
  display: inline-block;
  vertical-align: middle;
  margin-right: 6px;
}

.socials__item:last-child {
  margin-right: 0;
}

.socials__link {
  display: block;
  text-decoration: none;
  width: 36px;
  height: 36px;
  background: center center no-repeat;
}

.socials__item--icon--telegram .socials__link:hover::before {
  opacity: 1;
  transition: .4s;
}

.socials__item--icon--telegram .socials__link:hover::after {
  opacity: 0;
  transition: .4s;
}

.socials__item--icon--telegram .socials__link::after {
  content: "";
  position: absolute;
  width: 36px;
  height: 36px;
  background: url('../../img/icons/sprite.png') -122px -66px;
}

.socials__item--icon--telegram .socials__link::before {
  content: "";
  position: absolute;
  width: 36px;
  height: 36px;
  background: url('../../img/icons/sprite.png') -122px -10px;
}

.socials__item--icon--vk .socials__link:hover::before {
  opacity: 1;
  transition: .4s;
}

.socials__item--icon--vk .socials__link:hover::after {
  opacity: 0;
  transition: .4s;
}

.socials__item--icon--vk .socials__link::after {
  content: "";
  position: absolute;
  width: 36px;
  height: 36px;
  background: url('../../img/icons/sprite.png') -10px -122px;
}

.socials__item--icon--vk .socials__link::before {
  content: "";
  position: absolute;
  width: 36px;
  height: 36px;
  background: url('../../img/icons/sprite.png') -66px -122px
}

.socials__item--icon--fb .socials__link:hover::before {
  opacity: 1;
  transition: .4s;
}

.socials__item--icon--fb .socials__link:hover::after {
  opacity: 0;
  transition: .4s;
}

.socials__item--icon--fb .socials__link::after {
  content: "";
  position: absolute;
  width: 36px;
  height: 36px;
  background: url('../../img/icons/sprite.png') -10px -10px;
}

.socials__item--icon--fb .socials__link::before {
  content: "";
  position: absolute;
  width: 36px;
  height: 36px;
  background: url('../../img/icons/sprite.png') -66px -10px;
}

.socials__item--icon--instagram .socials__link:hover::before {
  opacity: 1;
  transition: .4s;
}

.socials__item--icon--instagram .socials__link:hover::after {
  opacity: 0;
  transition: .4s;
}

.socials__item--icon--instagram .socials__link::after {
  content: "";
  position: absolute;
  width: 36px;
  height: 36px;
  background: url('../../img/icons/sprite.png') -10px -66px;
}

.socials__item--icon--instagram .socials__link::before {
  content: "";
  position: absolute;
  width: 36px;
  height: 36px;
  background: url('../../img/icons/sprite.png') -66px -66px;
}
