.tours {
  margin-bottom: 124px;
}

.tours__title-wrap {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
}

.title {
  font-size: 36px;
  font-weight: bold;
}

.title__tours {
  font-size: 36px;
  font-weight: bold;
}

.title__tours::after {
  content: url('../../img/icons/flame.png');
  margin-left: 12px;
}

.tours__list {
  display: flex;
  justify-content: space-between;
}

.tour {
  min-height: 450px;
  background: #fff;
  border-radius: 5px;
  color: #000;
  overflow: hidden;
}

.tours__item {
  min-height: 450px;
  background: #fff;
  border-radius: 5px;
  width: calc(100% / 3 - 18px);
  color: #000;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.tours__item:last-child {
  margin-right: 0;
}

.tour__image-wrap {
  height: 144px;
}

.tour__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.tour__content-wrap {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 33px 22px 25px 22px;
}

.tours__content-wrap {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 33px 22px 25px 22px;
}

.tour__content {
  margin-bottom: 22px;
}

.tours__content {
  margin-bottom: 22px;
}

.tour__title {
  font-size: 24px;
  font-weight: bold;
}

.tours__title {
  font-size: 24px;
  font-weight: bold;
}

.tour__desc {
  color: #303030;
  font-size: 14px;
  line-height: 21px;
  margin-bottom: 24px;
}

.tours__desc {
  color: #303030;
  font-size: 14px;
  line-height: 21px;
  margin-bottom: 24px;
}

.inner {
  margin-left: 8px;
  margin-bottom: 22px;
}

.inner__list {
  display: flex;
  justify-content: space-between;
}

.inner__item {
  display: flex;
  width: 130px;
  margin-right: 16px;
}

.inner__desc {
  padding-left: 5px;
  font-size: 16px;
  color: #666;
}

.tour__btn-wrap {
  margin-top: auto;
}

